// Light Colors
$color-light-green: #d7ecd9;
$color-light-yellow: #f6f6eb;
$color-light-white: #f6f6f6;
$color-light-magneta: rgb(236, 222, 240);
$color-light-grey: rgb(231, 231, 231);

// Medium Tones #1
$color-medium-green: #8db991;
$color-medium-yellow: #d8d8bb;
$color-medium-magneta: rgb(203, 173, 211);

// Medium Tones #2
$color-grey: rgb(136, 136, 136);
$color-magneta: #7d3c56;

// Dark Colors
$color-black: #1f1f1f;

$color-medium-grey: rgba(196, 196, 196, 0.933);
$color-grey: rgba(161, 161, 161, 0.933);
