.contact {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba($color-light-grey, 0.7),
      rgba($color-medium-grey, 0.7)
    ),
    url("./images/view.jpg");
  background-position: center;
  background-size: cover;

  @include respond(phone) {
    margin-top: -17vh;
  }

  p {
    padding: 5rem;
    font-size: 2.5rem;
  }

  &__container {
    position: relative;
    z-index: 0;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.7rem $color-light-magneta;
    border-radius: 6px;
    background-color: rgba($color-light-magneta, 0.8);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba($color-black, 0.2);
    animation: rotate;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    @include respond(tab-port) {
      height: 40%;
      margin-top: 10%;
    }

    @include respond(phone) {
      height: 40%;
      width: 100%;
      border-left: 0;
      border-right: 0;
      margin-left: 0;
      margin-top: 17.5%;
      border-radius: 0px;
      animation: none;
      transform: skewY(-12deg);
    }

    &:hover {
      animation: none;
    }

    .box-container {
      @include respond(phone) {
        transform: skewY(+12deg);
        font-size: 3rem;
      }
      .box {
        margin-top: 1rem;
        i {
          margin-right: 2rem;
          font-size: 3rem;
        }
      }
    }
  }
}
