.card {
  width: 22.5%;
  height: 60%;
  background-color: white;
  box-shadow: 1rem 1rem 1rem 0.3rem rgba($color-black, 0.2);
  border-radius: 8px;
  transition: all 0.3s ease-in;
  transform: skewY(4deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    transform: skewY(10deg);
    height: 50%;
    width: 30%;
    font-size: 2rem;
  }

  @include respond(phone) {
    transform: skewY(12deg);
    width: 50%;
    height: 30%;
  }

  &:hover {
    transform: scale(1.03) skewY(4deg);
    @include respond(tab-port) {
      transform: skewY(10deg) scale(1.03);
    }

    @include respond(phone) {
      transform: skewY(12deg) scale(1.03);
    }
  }

  .icon {
    display: inline-block;
    margin-top: 2rem;
    font-size: 7rem;
    color: &color-medium-grey;

    @include respond(phone) {
      font-size: 12rem;
    }
  }

  h4 {
    position: relative;

    &::after {
      @include underline(white);
    }
  }

  .list {
    height: 50%;
    padding: 2rem;

    &:not(::last-child) {
      margin-bottom: 0.3rem;
    }

    &--skills {
      position: relative;
      li::before {
        position: absolute;
        left: 0.3rem;
        content: "•";
        padding-right: 0.5rem;
        color: white;
      }
    }
  }

  &--1 {
    background-color: rgba($color-light-yellow, 0.9);
  }

  &--2 {
    background-color: rgba($color-light-magneta, 0.9);
  }

  &--3 {
    background-color: rgba($color-light-green, 0.9);
  }
}
