.portfolio-box {
  width: 25%;
  height: 80%;
  padding-bottom: 2rem;
  background-color: $color-light-white;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba($color-black, 0.2);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  @include respond(tab-port) {
    height: 60%;
    width: 30%;
  }

  @include respond(phone) {
    height: 30%;
    width: 60%;
  }

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    border-bottom: solid 0.5rem $color-light-green;
    @include respond(phone) {
      display: none;
    }
  }

  &__text {
    @include respond(phone) {
      display: none;
    }
    p {
      padding: 1rem 2rem 0 2rem;
    }
  }

  &--1 {
    @include respond(phone) {
      background-image: url("./images/projects/pc-landing-page.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  &--2 {
    @include respond(phone) {
      background-image: url("./images/projects/pc-typing-game.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  &--3 {
    @include respond(phone) {
      background-image: url("./images/projects/pc-words-beast.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
