*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 52.5%;
  }

  @include respond(tab-port) {
    font-size: 47.5%;
  }

  @include respond(phone) {
    font-size: 32.5%;
  }
}

body {
  box-sizing: border-box;
  padding: 0 3rem 0 3rem;
  overflow-x: hidden;
  background-color: white;

  @include respond(tab-land) {
    padding: 0;
  }
}
